#wrapper {
	padding: 0px;
	width: auto;
	max-width: 1600px;
	min-width: 845px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	padding-bottom: 5px;
	background: #FFF;
	border-radius: 10px;
	z-index: 0;
}
body {
	font: 12px Arial, Helvetica, sans-serif;
	background: #3D44AA;
}
h1 {
	font: 28px "Courier New", Courier, monospace;
	color: #FFF;
	background: #FF6C2C;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-radius: 10px 10px 0px 0px;
}
h2 {
	font: 24px "Courier New", Courier, monospace;
	color: #3D44AA;
}
h3 {
	font: 20px "Courier New", Courier, monospace;
	color: #3D44AA;
}
img {
	border-radius: 35px;
}
.imgContainer{
	position: relative;
	text-align: center;
	color: #FFF;
}
.bottom-text{
	position: absolute;
	bottom: 3px;
	/*left: 10%;
	bottom: 10%;*/
	background: rgba(0,0,0, .4);
	font-size: 25px;
	padding: 10%;
	width: 80%;
	/*padding-right: 60%;
	padding-left: 20%;
	padding-bottom: 10%;
	padding-top: 100%;
	margin: 0px;*/
	border-radius: 0px 0px 35px 35px;
}
.settingsButton { /*dropbtn*/
	background-color: #FF6C2C;
	color: FFF;
	border: none;
	min-width: 120px;
}
.settingsMenu { /*dropdown*/
	position: relative;
	display: inline-block;
}
.settings { /*dropdown-content*/
	min-width: 120px;
	width: 100%;
	display: none;
	position: absolute;
	background-color: #FF6C2C;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.settings a {
	display: block;
	text-decoration: none;
}
.settingsMenu:hover .settings {
	display: inline;
}

#profile {
	background: FFF;
	text-align: justify;
	position: relative;
	z-index: 0;
}
#profile ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#profile ul li {
	text-decoration: none;
	width: 33%;
	float: left;
	list-style: none;
	text-align: center;
}
#centerNav {
	background: 000;
}
#centerNav ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#centerNav ul li {
	text-decoration: none;
	width: 49%;
	float: left;
	list-style: none;
	text-align: center;
}
#centerNav a {
	color: #FFF;
	display: block;
	border-radius: 10px;
	background: #FF6C2C;
	padding: 10px;
	text-decoration: none;
}
#centerNav a:hover {
	color: #FFF;
	background: #3D44AA;
	padding: 10px;
	text-decoration: none;
}
#centerNav a:active {
	color: #FFF;
	background: #000;
}
#navbar {
	font: 28px "Courier New", Courier, monospace;
	color: #FFF;
	background: #FF6C2C;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-radius: 10px 10px 0px 0px;
	z-index: 0;
}
#navbar ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#navbar ul li {
	text-decoration: none;
	width: 33.33333%;
	float: left;
	list-style: none;
	text-align: center;
}

#navbar a {
	color: #FFF;
	text-decoration: none;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0, 0);
}
#navbar a:hover {
	background: #3D44AA;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}
#navbar a:active {
	color: #FFF;
	background: #000;
}